[workspace]
resolver = "2"
members = ["helpers", "svm"]

[workspace.dependencies]
itertools = "0.12"
thiserror = "1.0"
solana-program = "~1.18"
solana-program-runtime = "~1.18"
solana-bpf-loader-program = "~1.18"
solana-sdk = "~1.18"
solana-system-program = "~1.18"
solana-compute-budget-program = "~1.18"
solana-loader-v4-program = "~1.18"
bincode = "1.3"
indexmap = "2.2.6"
solana-address-lookup-table-program = "1.18.8"
log = "0.4.21"
solana-vote-program = "~1.18"
solana-stake-program = "~1.18"
solana-config-program = "~1.18"
litesvm = { path = "svm" }
spl-token = "3.5.0"
solana-program-test = "~1.18"
criterion = "0.5"
tokio = "1.35"
test-log = "0.2.15"
serde = "1.0.197"
spl-token-2022 = "3.0.2"
spl-associated-token-account = "3.0.3"

[profile.bench]
debug = true

[profile.release]
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
