[workspace]
resolver = "2"
members = ["crates/*"]
exclude = ["crates/node-litesvm/tests/clock-example"]

[workspace.package]
version = "0.7.1"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/LiteSVM/litesvm"
rust-version = "1.86.0"

[workspace.dependencies]
agave-feature-set = "2.3"
agave-precompiles = "2.3"
agave-reserved-account-keys = "2.3"
ansi_term = "0.12"
bincode = "1.3"
criterion = "0.7"
ed25519-dalek = "1.0.1"
hashbrown = "0.15.5"
indexmap = "2.6"
itertools = "0.14"
libsecp256k1 = "0.6.0"
litesvm = { path = "crates/litesvm", version = "0.7" }
log = "0.4"
napi = { version = "3.2.4", default-features = false }
napi-derive = "3.2.4"
qualifier_attr = "0.2.2"
serde = "1.0"
smallvec = "1.13"
solana-account = "2.2"
solana-address-lookup-table-interface = "2.2"
solana-bpf-loader-program = "2.3"
solana-builtins = "2.3"
solana-clock = "2.2"
solana-compute-budget = "2.3"
solana-compute-budget-instruction = "2.3"
solana-compute-budget-interface = "2.2"
solana-config-interface = "1.0.0"
solana-ed25519-program = "2.2"
solana-epoch-rewards = "2.2"
solana-epoch-schedule = "2.2"
solana-fee = "2.3"
solana-fee-structure = "2.3"
solana-hash = "2.3"
solana-instruction = "2.3"
solana-instructions-sysvar = "2.2"
solana-keypair = "2.2"
solana-last-restart-slot = "2.2"
solana-loader-v3-interface = "5.0"
solana-loader-v4-interface = "2.2"
solana-loader-v4-program = "2.3"
solana-log-collector = "2.3"
solana-message = "2.3"
solana-native-token = "3.0"
solana-nonce = "2.2"
solana-nonce-account = "2.2"
solana-precompile-error = "2.2"
solana-program-error = "2.2"
solana-program-option = "2.2"
solana-program-pack = "2.2"
solana-program-runtime = "2.3"
solana-program-test = "2.3"
solana-pubkey = "2.3"
solana-rent = "2.2"
solana-runtime-transaction = "2.3"
solana-sdk-ids = "2.2"
solana-secp256k1-program = "2.2"
solana-sha256-hasher = "2.3"
solana-signature = "2.3"
solana-signer = "2.2"
solana-slot-hashes = "2.2"
solana-slot-history = "2.2"
solana-stake-interface = "1.2.1"
solana-svm-callback = "2.3"
solana-svm-transaction = "2.3"
solana-system-interface = "1"
solana-system-program = "2.3"
solana-sysvar = "2.3"
solana-sysvar-id = "2.2"
solana-timings = "2.3"
solana-transaction = "2.2"
solana-transaction-context = "2.3"
solana-transaction-error = "2.2"
solana-vote-program = "2.3"
spl-associated-token-account-client = "2.0"
spl-token = "8.0"
spl-token-2022 = "8.0"
test-log = "0.2"
thiserror = "2.0"
tokio = "1.35"
sha2 = "0.10"
hex = "0.4"

[profile.bench]
debug = true

[profile.release]
lto = "fat"
codegen-units = 1
strip = "symbols"

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[workspace.lints.clippy]
result_large_err = "allow"
