[package]
name = "litesvm"
description = "A fast and lightweight Solana VM simulator for testing solana programs"
license.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
readme = "../../README.md"

[features]
internal-test = []
nodejs-internal = ["dep:qualifier_attr"]

[dependencies]
bincode.workspace = true
indexmap.workspace = true
itertools.workspace = true
log.workspace = true
qualifier_attr = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
solana-address-lookup-table-program.workspace = true
solana-bpf-loader-program.workspace = true
solana-compute-budget.workspace = true
solana-compute-budget-program.workspace = true
solana-config-program.workspace = true
solana-fee.workspace = true
solana-loader-v4-program.workspace = true
solana-log-collector.workspace = true
solana-program-runtime.workspace = true
solana-program.workspace = true
solana-runtime-transaction.workspace = true
solana-sdk.workspace = true
solana-stake-program.workspace = true
solana-svm.workspace = true
solana-svm-transaction.workspace = true
solana-system-program.workspace = true
solana-timings.workspace = true
solana-vote-program.workspace = true
thiserror.workspace = true

[dev-dependencies]
criterion.workspace = true
ed25519-dalek.workspace = true
libsecp256k1.workspace = true
serde.workspace = true
solana-program-test.workspace = true
spl-token.workspace = true
test-log.workspace = true
tokio.workspace = true

[lints]
workspace = true

[[bench]]
name = "banks_client_comparison"
required-features = ["internal-test"]
harness = false

[[bench]]
name = "simple_bench"
harness = false

[[bench]]
name = "max_perf"
harness = false
