name: node-docs-check

on:
  push:
    branches: [master]
    paths-ignore:
      - LICENSE
      - '**/*.gitignore'
      - .editorconfig
  pull_request:
    branches: [master]
    paths-ignore:
      - LICENSE
      - '**/*.gitignore'
      - .editorconfig

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: crates/node-litesvm

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Install dependencies
        run: yarn install
      - name: Build with VitePress
        run: yarn predocs && yarn docs:build
